########################################
#          ОС / Системный мусор        #
########################################
.DS_Store
Thumbs.db
desktop.ini

########################################
#           IDE / Редакторы            #
########################################
# VSCode
.vscode/
.vscode-test/

# CLion / JetBrains
.idea/
*.iml

# QtCreator
*.pro.user
*.pri.user
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
.qtcreator/

########################################
#               CMake                  #
########################################
# Генерируемые файлы
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

# Папки сборок
build/
build-*/
out/
bin/
obj/

########################################
#                Qt                    #
########################################
moc_*.cpp
qrc_*.cpp
ui_*.h
*.moc
*.qmlc
*.jsc
*.qmltypes
*.qmake.stash

# Qt Creator autosave
*.autosave

########################################
#              C / C++                 #
########################################
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.obj
*.pch
*.pdb
*.lib
*.exp
main
test

########################################
#             Логи / Трейсы            #
########################################
*.log
*.trace

########################################
#           Кэш / Временные            #
########################################
*.tmp
*.swp
*.swo
*.cache
.cache/
__pycache__/

########################################
#              Тесты                   #
########################################
*.gcno
*.gcda
*.gcov

########################################
#             Прочие файлы             #
########################################
*.old
*.bak
*.orig
*.rej
